<div class="row">
  <div class="col-md-12">
    <h1>{{data.name}}</h1>
    <p>[{{data.Category.name}}]</p>
  </div>

  <div class="col-md-4">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <img class="img-responsive center-block" src="{{data.image}}" style="width: 250px;margin-bottom: 25px;">
        <li><strong>Opening Hour:</strong> {{data.opening_hours}}</li>
        <li><strong>Tel:</strong> {{data.tel}}</li>
        <li><strong>Address:</strong> {{data.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>{{data.description}}</p>
  </div>
  <hr>
</div>

<hr>

<br/>
<br/>
<a href="javascript:history.back()">回上一頁</a>